$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$font-family: 'Inter';
$font-color: #dae0e0;

$header-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
$product-shadow: 2px 2px 10px rgba(31, 58, 96, 0.08);

$transition: ease 0.3s;

//Colors
$white: #ffffff;
$border-color: #e0e0e0;
$background-color: #f5f5f5;
$blue: #5d7592;
$light-blue: #c3d3ea;

//Bootstrap override
$primary: #3a9c3e;
$secondary: #1f3a60;
